%nav.navbar{role:"navigation","aria-label":"main navigation",style:"border-bottom:1px solid #bdbdbd"}
  .navbar-brand
    %a.navbar-item{href:"/"}
      %p.subtitle
        Find book

    %a.navbar-burger.burger{role:"button","aria-label":"menu","aria--expanded":"false","data-target":"navbarBasicExample"}
      %span{"aria-hidden":"true"}
      %span{"aria-hidden":"true"}
      %span{"aria-hidden":"true"}
  #navbarBasicExample.navbar-menu
    .navbar-start
      =link_to "home",root_path,class:"navbar-item"
      -if user_signed_in?
        =link_to "my page",users_show_path(current_user.id),class:"navbar-item"
        =link_to "edit",edit_user_registration_path(current_user.id),class:"navbar-item"
        =link_to "Time Line","#",class:"navbar-item"
      %a.navbar-item
        
    .navbar-end
      .navbar-item
        #search-box
          =form_tag(search_path, method: :get,class:"field is-grouped") do
            %p.control
              =text_field_tag :keyword, '', id:"book_search",class:"input",placeholder:"本のタイトルを入力してください"
            %p.control
              %button.button#searchBtn{title:"search", type:"submit"} Search
        .buttons
          -unless user_signed_in?
            = link_to "sign up",new_user_registration_path,class:"button is-primary"
          -if user_signed_in?
            =link_to "Log out", destroy_user_session_path,method: :delete,class:"button is-light"
          -else
            = link_to "log in",new_user_session_path,class:"button is-light"

