%nav.navbar{role:"navigation","aria-label":"main navigation",style:"border-bottom:1px solid #bdbdbd"}
  .navbar-brand
    %a.navbar-item
      %p.subtitle
        Find Invest book

    %a.navbar-burger.burger{role:"button","aria-label":"menu","aria--expanded":"false","data-target":"navbarBasicExample"}
      %span{"aria-hidden":"true"}
      %span{"aria-hidden":"true"}
      %span{"aria-hidden":"true"}
  #navbarBasicExample.navbar-menu
    .navbar-start
      =link_to "home",root_path,class:"navbar-item"
      %a.navbar-item
        hoge
      %a.navbar-item
        
    .navbar-end
      .navbar-item
        #search-box{style:"padding-right: 10px;padding-bottom:5px"}
          =form_tag(search_path, method: :post,class:"field is-grouped") do
            %p.control
              =text_field_tag :keyword, '', id:"book_search",class:"input",placeholder:"enter book title"
            %p.control
              %button.button{title:"search", type:"submit"} Search
        .buttons
          %a.button.is-primary
            Sign up
          %a.button.is-light
            log in
         

