
-@reviews.each_slice(4) do |reviews_x4|
  .columns.is-desktop
    .column.is-1-desktop
    -reviews_x4.each do |r|
      .column
        .content.review_list
          %article.message
            .message-body
              %a.has-text-link{href:"/books/show/#{r.book.identifier}"}  
                =r.book.title
              %p{style:"font-size:14px"}
                ="#{r.content.slice(0..36)}....."
              %p.has-text-right
                ="by :"
                %i
                  ="#{r.user.name ||"John Doe/Jane Doe" }"

                
    .column.is-1-desktop
