%p{style:"font-size:12px;margin:0"} おすすめ度
%p.recommend
  ="★"*review.recommend
  %span.star.gray
    ="★"*(5 - review.recommend)
%p{style:"font-size:12px;margin:0"} 価格
%p.price
  ="★"*review.price
  %span.star.gray
    ="★"*(5-review.price)
%p{style:"font-size:12px;margin:0"} わかりやすさ
%p.understandable
  ="★"*review.understandable
  %span.star.gray
    ="★"*(5-review.understandable)
%p{style:"font-size:12px;margin:0"} 信頼性
%p.trustable
  ="★"*review.trustable
  %span.star.gray
    ="★"*(5-review.trustable)
%p{style:"font-size:12px;margin:0"} おもしろさ
%p.interest
  ="★"*review.interesting
  %span.star.gray
    ="★"*(5-review.interesting)