// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media (max-width:1000px){
    .card.about-this-book{
        font-size: 24px;
        p{
            font-size:24px;
        }
        p.subtitle{
            font-size: 32px;
        }
        a.button{
            font-size:32px;
        }
    }
    .content.reviews-of-this-book{
        margin:30px 0px;
        p{
            font-size:24px;
        }
        p.subtitle{
            font-size:32px;
        }
        a{
            font-size:32px;
        }
    }
    .content.new_review{
        font-size:24px;
        p.subtitle{
            font-weight: 600;
        }
        .textarea_wrap{
            padding:5%;
        }
        textarea.textarea{
            font-size: 24px;
            width:350px!important;
            height:300px;
        }
        .star{
            font-size:60px;
        }
        .button.is-medium-mobile{
            width:300px;
            margin:auto;
            margin-top: 50px;
            font-size:32px;
        }

    }

}