// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.book_list.on_top_page{
    .column.is-2{
        display:none;
    }
    .column.is-8{
        margin:auto;
    }
}
button.button#show_more{
    margin:10px;
    font-size:20px;
}
.content.reviews-of-this-book{
    p.recommend{
        color:#9932cc;
    }
    p.price{
        color:#3cb371;
    }
    p.understandable{
        color:#ffcc00;
    }
    p.trustable{
        color:#00ced1;
    }

    p.interest{
        color:#f08080;
    }

    span.star.gray{
        color:rgb(161, 161, 161);
    }
}
.related_posts{
    .related_posts{
        margin:20px auto;
    }
}

@media (max-width:1000px){
    button.button#show_more{
        margin:40px;
        font-size:24px;
    }
    .card.about-this-book{
        p.subtitle{
            font-size: 24px;
        }
        .card-image{
            img{
                width:170px;
            }
        }
    }
    .content.reviews-of-this-book{
        padding:0px!important;
        margin:30px 0px;
        p.recommend,p.price,p.understandable,p.trustable,p.interest{
            font-size:12px;
        }
    }
    .content.new_review{
        p.subtitle{
            font-weight: 600;
        }
        .textarea_wrap{
            padding:5%;
        }
        textarea.textarea{
            font-size: 24px;
            width:350px!important;
            height:300px;
        }
        .star{
            font-size:60px;
        }
        .button.is-medium-mobile{
            margin:auto;
            margin-top: 50px;
            font-size:24px;
        }

    }
    .related_posts{
        .related_posts{
            margin:20px auto;
        }
    }
    .book_ranking{
        article.media{
            figure.media-left{
                img{
                    width:100px;
                }
            }
            .media-content{
                a.button{
                    padding:20px;
                }
            }
        }
    }
    .tags{
      
        text-align:center;
        width:100%;
        span.tag.for-barChart{
            width:18%;
            font-size:12px!important;

        }
    }
}