// Place all the styles related to the follow controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content_wrap.followings_and_followers{
    width:100%;
}
.content.followings,.content.followers{
    font-size:24px;
    padding:20px;
    width:600px;
    margin:auto;
    span.right{
        float:right;
    }
    span.instruction{
        font-size:16px;
    }
    .follow_btn_wrap{
        text-align: right;
    }
}
@media (max-width:1000px){
    .content.followings,.content.followers{
        padding:25px;
        font-size:24px;
        width:100%;
        a.following_name,a.follower_name{
            font-size:40px;
            font-weight:600;
        }
        span.right{
            float:right;
            font-size:32px;
            vertical-align: middle;
        }
        p.profile_content_head{
            font-size:24px;
        }
    
        .button{
            font-size:32px;
            width:300px;
        }
    }
}