nav.navbar{
    width:100%;
    background-color:#5c7db3;
    .navbar-brand p{
        color:#f0f8ff;
        font-weight: 500;
    }
    .navbar-start{
        a.navbar-item{
            color:#f0f8ff;
        }
        a.navbar-item:hover{
            color:#3273dc;
        }
    }
}
.navbar-end{
    #search-box{
        padding-bottom: 3px;
        padding-right: 10px;
        input.book_search{
            width:70%;
        }
    }
}
@media (max-width:1000px){
    nav{
        padding:5px;
        .navbar-start a{
            color:#3273dc!important;
        }
    }
    .navbar{
        a.navbar-burger{
            border:1px solid #FFFFFF;
            border-radius: 4px;
            width:45px;
            height:45px;
        }
        .navbar-burger{
            span{
                width:44px;
                height:2px;
                color:#FFF;
                left: calc(50% - 22px);
            }
        }
    }
    .navbar-start{

        a:before{
            content:">";
            padding:0px 10px;
            color: #6a5acd;
            font-weight: 600;
        }
        
        a:nth-child(odd){
            border:solid #bdbdbd;
            border-width:1px 0px 1px 0px; 
        }
        a:first-child{
            border-top:0px;
        }
        a:last-child{
            border-bottom:1px solid #bdbdbd;
        }
    }
    .navbar-end{
        #search-box{
            padding-top: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid #bdbdbd;


            button.button#searchBtn{
 
                padding: 0px 12px;
            }
        }
        .buttons{
            a{
                margin:10px 0px;
            }
        }
    }
}