// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#search-box.on_home{
    text-align:center;
    .control{
        input,button{
            font-size:16px;
        }
    }
}
.content{
    p.section_title{
        border-left:10px solid #f08080;
        padding:5px 10px;
    }
}
.content.about-this-site{
    padding:15px;
    font-size:16px;
    p.catch_copy{
        font-size:24px;
        font-weight: 600;
    }
    a.button.sign_up,a.button.sign_in{
        font-size:24px;
    }
}
.content.best-seller{
    .card{
        .card-image{
            img{
                width:170px;
            }
        }
    }
}
.content.good-sellers{
   article.media{
       
       figure.media-left{
           img{
               width:96px;
           }
       }
   }
}
.content{
    .related_posts{
        a{
            font-size:16px;
        }
        .column{
            max-width:25%;
        }
    }
}

.message-body{
    min-height:250px
}
@media (max-width:1000px){

    .content{
        p.section_title{
            padding:10px 10px;
        }
    }
    
    .content.about-this-site{

        p.catch_copy{
            font-size:24px;
            font-weight:600;
        }
        a.button.sign_up,a.button.sign_in{
            font-size:16px;
            padding:30px 5px;;
        }
        a.link{
            font-size:16px;
        }
    }
    .content.best-seller{
        p.subtitle{
            font-size: 24px;
        }
        .card{
            .card-image{
                img{
                    width:250px;
                }
            }
            .links{
                a.button{
                    margin:20px 0px;
                }
            }
        }
    }
    .content.good-sellers{
        a.button{
            margin:20px 0px;
        }
        article.media{
            figure.media-left{
                img{
                    width:100px;
                }
            }
        }
    }

    .message-body{
        min-height:30px;
    }
    .content{
        .related_posts{
            a{
                font-size:24px;
            }
            .column{
                max-width:100%;
            }
        }
    }
}