a.more{
    display:inline;
    font-size:16px;
    text-decoration: underline;
    text-align: right;
}
a.more:after{
    content:">";
    font-size:24px;
    padding:0px 10px;
}

@media (max-width:1000px){
    a.more{
        display:inline-block;
        font-size:32px;
        border: solid #e9e9e9;
        border-width:2px 0px;
        padding:10px 0px;
        line-height:50px;
        width:100%;
    }
    a.more:after{
        content:">";
        font-size:40px;
    }
}