.interesting,
.evaluation{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.interesting input[type='radio'],
.evaluation input[type='radio']{
    display:none;
}
.interesting label,
.evaluation label{
    position:relative;
    padding:10px 10px 0;
    color:gray;
    cursor: pointer;
    font-size: 25px;
}
.stars label:hover,
.stars label:hover ~ label,
.stars input[type='radio']:checked ~ label{
    color:#ffcc00;
}
.stars.blue label:hover,
.stars.blue label:hover ~ label,
.stars.blue input[type='radio']:checked ~ label{
    color:#00ced1;
}
.stars.pink label:hover,
.stars.pink label:hover ~ label,
.stars.pink input[type='radio']:checked ~ label{
    color:#f08080;
}
.stars.purple label:hover,
.stars.purple label:hover ~ label,
.stars.purple input[type='radio']:checked ~ label{
    color:#9932cc;
}
.stars.green label:hover,
.stars.green label:hover ~ label,
.stars.green input[type='radio']:checked ~ label{
    color:#3cb371;
}