%p
  #{@resource.email}のパスワードを変更しますか？
%p 登録したアカウントのパスワード変更する場合は以下のリンクをクリックして手続きを進めてください.
%p= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token)
%p このメールにお心当たりがない場合は、このメールを破棄してください.
